{% include "blog.html" %}
<div class="main">
    <li><a href="{{ url_for('blogs', slug=entry.slug) }}">back</a></li>

{% block extra_header %}
  {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}
<div align="center">
<h2>{{ entry.title }}</h2>
    {% if entry.media != 'None' %}
        <img style="height: 250px; width: auto;" src="{{ entry.media }}">
    {% endif %}
<p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
</div>
<div class="textBlock">
{{ entry.html_content }}
</div>
{% endblock %}

</div>