{% include "blog.html" %}
<div>
    <a style="padding: 5px;"href="{{ url_for('blogs', slug=entry.slug) }}">back</a>

{% block extra_header %}
  {% if current_user.is_authenticated %}
    <a style="padding: 5px;" href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a>
  {% endif %}
{% endblock %}

{% block content %}
<div align="center">
<h2>{{ entry.title }}</h2>
    {% if entry.media != 'None' %}
        <img style="height: 250px; width: auto;" src="{{ entry.media }}">
    {% endif %}
<p>Created {{ entry.timestamp.strftime('%x at %X') }}</p>
</div>
<div class="textBlock">
{{ entry.html_content }}
</div>
{% endblock %}

</div>