{% extends "layout.html" %}
{% block content %}


		<div class="center-everything animate__animated animate__fadeIn">
			
				
				<div class="container center-everything">
					<img style='height: auto; width: 80%; object-fit: contain' src="../static/pictures/me.jpg">
					<!--<img src = "{{ url_for('static', filename='pictures/me.jpg') }}" >-->
					<div class="text-block">
						<h2>Gabriel Antonio Espinoza</h2>
					</div>
				</div>
		</div>

		<div class="center-everything animate__animated animate__fadeIn">
			
			
			<h2>Welcome to my personal page! currently under construction...</h2>
			<div>
				
			</div>

			<div class="row">

			<a class="button-link" href= "{{ url_for('experience') }}">Experience</a>
			
			
			<a class="button-link" href= "{{ url_for('blog') }}">Blog</a>
			
			
			<a class="button-link" href= "{{ url_for('resources') }}">Resources</a>
			
			
			<a class="button-link" href= "{{ url_for('games') }}">Games</a>
			
			
			<a class="button-link" href= "{{ url_for('music') }}">Music</a>
			</div>
			

		</div>
	


{% endblock content %}