{% extends "layout.html" %}

{% block content %}

<div class="center-everything">
	<h1>Login</h1>
	<div>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				<div>
					{{ form.username.label() }} {% if form.username.errors %} {{ form.username(class_="form-control") }}
					<div>
						{% for error in form.username.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.username(class_="form-control") }} {% endif %}
				</div>
			</div>
			<div class="form-group">
				<div>
					{{ form.email.label() }} {% if form.email.errors %} {{ form.email(class_="form-control") }}
					<div>
						{% for error in form.email.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.email(class_="form-control") }} {% endif %}
				</div>
			</div>
			<div class="form-group">
				<div>
					{{ form.password.label() }} {% if form.password.errors %} {{ form.password(class_="form-control") }}
					<div>
						{% for error in form.password.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %} {{ form.password(class_="form-control") }} {% endif %}
				</div>
			</div>
			<div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
			<div>
				{{ form.submit( class_="btn btn-primary submit") }}
			</div>
			<small class="text-muted ml-2">
				<a href="#">Forgot Password</a>
			</small>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">Not Registered?<a href="{{ url_for('register') }}">Sign Up</a></small>
	</div>
</div>

{% endblock %}