
.footer-layer {
	position: relative;
  z-index: 4;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #4a4c4f;
  color: white;
}

html {
	margin: 0;
	padding: 0;
	font-family: "Garamond", sans-serif;
	font-weight: 300;
}
.heavier {
	font-weight: 700;
}

body {
	background-color: #efe6dd !important;
}
.center-everything {
	display: flex;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button-link {
	padding: 10px 15px;
	background-color: #7ebdc2;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 1em;
}
.button-link:hover {
	text-decoration: none;
	color:white !important;
	cursor: pointer;
}
.container {
	position: relative;
}
.text-block {
	position: absolute;
  	bottom: 20px !important;
  	right: 20px !important;
  	background-color: rgba(0,0,0,0.3) !important;
  	color: white !important;
  	padding-left: 20px !important;
  	padding-right: 20px!important;
}
.center-this {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;


